.container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -155px;
    margin-left: -155px;
    text-align: center;
    font-size: 0;
    height: 310px;
    width: 310px;
}

.container div {
    height: 100px;
    width: 100px;
    position: absolute;
}

.top {
    background-color: blue;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
    top: 0;
    left: 50%;
    margin-left: -50px;
}

.left {
    background-color: purple;
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
    left: 0;
    top: 50%;
    margin-top: -50px;
}

.middle {
    background-color: grey;
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
    border-radius: 5px;
    margin-top: -50px;
    margin-left: -50px;
    left: 50%;
    top: 50%;
}

.right {
    background-color: green;
    display: inline-block;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
    right: 0;
    top: 50%;
    margin-top: -50px;
}

.bottom {
    background-color: red;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .6);
    left: 50%;
    margin-left: -50px;
    bottom: 0;
}
/*中间图片定位居中*/
.image {
    width: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}